@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F8F5F2; */
}

/* .stroke {
  -webkit-text-stroke: 1px #814674;
  text-stroke: 1px #814674;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  transition: ease-in-out 0.4s;
}

.link > div:last-of-type > img {
  transition: ease-in-out 0.4s;
}

.link:hover {
  transition: ease-in-out 0.2s;
  background-color: #00a770 !important;
  color: #fff;
}

.link:hover > div:last-of-type > img {
  transition: ease-in-out 0.2s;
  filter: brightness(0) invert(1);
}

.link:hover > .link-active {
  color: #fff !important;
}

.link-active {
  color: #00a770;
}

.link-history-active {
  color: #ffc220 !important;
}

.link-history {
  transition: ease-in-out 0.4s;
}

.link-history > div:last-of-type > img {
  transition: ease-in-out 0.4s;
}

.link-history:hover {
  transition: ease-in-out 0.2s;
  background-color: #ffc220 !important;
  color: #fff !important;
}

.link-history:hover > div:last-of-type > img {
  transition: ease-in-out 0.2s;
  filter: brightness(0) invert(1);
}

.link-history:hover > div:first-of-type {
  color: #fff !important;
}

.notification-count {
  position: absolute;
  z-index: 1;
  top: -6px;
  right: -6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;
}

.ban-scrollbar {
  scrollbar-width: none;
}
.ban-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}
.ban-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}
.ban-scrollbar {
  overflow: -moz-scrollbars-none;
}
.ban-scrollbar {
  -ms-overflow-style: none;
}

.leaflet-marker-icon:first-of-type {
  filter: hue-rotate(90deg);
}

.menu-active {
  display: block !important;
}

.active {
  border-color: #00a770 !important;
  color: #00a770 !important;
}

.active:hover {
  border-color: crimson !important;
  color: crimson !important;
}

.table-no-shadow > div > table {
  min-width: 0 !important;
}

.table-no-shadow > div {
  box-shadow: none !important;
  /* border: none !important; */
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-top: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
}
