@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* overflow-y: hidden !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.component {
  scrollbar-width: none;
}
.component::-webkit-scrollbar {
  width: 0 !important;
}
.component::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}
.component {
  overflow: -moz-scrollbars-none;
}
.component {
  -ms-overflow-style: none;
}

.leaflet-marker-icon:first-of-type {
  filter: hue-rotate(90deg);
}

.menu-active {
  display: block !important;
}

.active {
  border-color: #00a770 !important;
  color: #00a770 !important;
}

.active:hover {
  border-color: crimson !important;
  color: crimson !important;
}

.hover-menu {
  transition: ease-in-out 0.4s;
}

.hover-menu > img {
  transition: ease-in-out 0.4s;
}

.hover-menu:hover {
  transition: ease-in-out 0.2s;
  background-color: #00a770 !important;
  color: #fff;
}

.hover-menu:hover > img {
  transition: ease-in-out 0.2s;
  filter: brightness(0) invert(1);
}
